<h2>Create a celebrity</h2>

<form action="/celebrities/create" method="post">
  <div>
    <label for="name">Name: </label>
    <input type="text" id="name" name="name" />
  </div>

  <div>
    <label for="occupation">Occupation: </label>
    <input type="text" id="occupation" name="occupation" />
  </div>

  <div>
    <label for="catchPhrase">Catchphrase: </label>
    <input type="text" id="catchPhrase" name="catchPhrase" />
  </div>

  <button>Create</button>

</form>